#container {
  text-align: center;
  margin-bottom: 3.2rem;
  /*   height: 40rem;
   scrollbar-width: none;
  overflow-y: scroll;
  */
}

#container .card-photo img {
  width: 60rem;
  height: 30rem;
  object-fit: cover;
}

#container .big-card-title h2 {
  text-align: center;
  padding: 1.6rem 0;
  font-size: 2.4rem;
}

#container .big-card-description p {
  color: grey;
}

@media screen and (min-width: 87.5rem) {
  #container .card-photo {
    margin: 0 auto;
  }
}

@media screen and (max-width: 75rem) {
  #container .card-photo img {
    width: 50rem;
    height: 25rem;
  }
}

@media screen and (max-width: 62rem) {
  #container {
    overflow-y: hidden;
    height: auto;
    margin-bottom: 6.4rem;
  }

  #container .card-photo {
    margin: 0 auto;
  }

  #container .card-photo img {
    width: 60rem;
    height: 30rem;
  }
}

@media screen and (max-width: 48rem) {
  #container .card-photo img {
    width: 50rem;
    height: 25rem;
  }

  #container .card-photo img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 36rem) {
  #container .big-card-title h2 {
    font-size: 2rem;
  }
}
